/*consistent base widgets size*/

QSpinBox {
  max-height: 25px;
  min-height: 25px;
}

QComboBox {
  min-height: 25px;
}

QPushButton {
  max-height: 25px;
  min-height: 25px;
}

QLineEdit {
  max-height: 25px;
  min-height: 25px;
}

/*header messages*/
QLabel#ftrack-header-message-error {
  background-color:  rgb(231, 76, 60, 255);
  padding: 10px;
  color: #FAFAFA;
  border: none;
  font-family: url(':ftrack/font/main');
  font-size: 20;
  font-weight: bold;
}

QLabel#ftrack-header-message-info {
  background-color: rgba(52, 152, 219, 255);
  padding: 10px;
  color: #FAFAFA;
  border: none;
  font-family: url(':ftrack/font/main');
  font-size: 20;
  font-weight: bold;
}

QLabel#ftrack-header-message-warning {
  background-color: rgba(238, 99, 76, 255);
  padding: 10px;
  color: #FAFAFA;
  border: none;
  font-family: url(':ftrack/font/main');
  font-size: 20;
  font-weight: bold;
}


/*
EntityBrowser
*/

EntityBrowser QTabBar {
  border: 1px solid #5a5a5a;
}

EntityBrowser QTabBar::tab {
  background: #5a5a5a;
  min-width: 0px;
  padding: 2px 8px;
  color: white;
  border-radius: 3px;
  margin: 3px;
  margin-right: 0px;
}

EntityBrowser QTabBar::tab:selected {
  color: white;
}

EntityBrowser QTabBar::tab:hover {
  background-color: #D6D6D6;
  border-color: #000000;
  color: black;
}

EntityBrowser QTableView {
  border: 1px solid #2A2A2A;
  outline: 0;
}

EntityBrowser QToolButton#entity-browser-up-button {
  qproperty-icon: url(':ftrack/image/dark/upArrow');
}

EntityBrowser QToolButton#entity-browser-reload-button {
  qproperty-icon: url(':ftrack/image/dark/reload');
}
